* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-image: url('../img/pasteleria_wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
header {
    width: 100%;
    height: 98px;
    background-color: #0b132b;
}

#navbar {
    float:right;
    display: flex;
    align-items: center;
    min-height: 98px;
    z-index: 1000;
}

#ulbar {
    list-style: none;
    padding: 0 10px;
}

.iconbar {
    display: inline-block;
    position: relative;
    transition: .2s linear;
    z-index: 1000;
}

.iconbar:hover {
    transition: scale(1.1);
}

.iconbar:active {
    color: rgb(177, 60, 192);
}

.libar {
    display: inline-block;
    position: relative;
    transition: .2s linear;
    z-index: 1000;
    padding: 7px 7px;
}

.libar:hover {
    transition: scale(1.1);
}

.libar:active {
    color: rgb(177, 60, 192);
}

.abar {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

.abar:hover {
    color: #00c9bd;
    transition: scale(1.1);
}

.abar:active {
    color: rgb(177, 60, 192);
}

